*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family:Roboto;
    
}
  
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:black;
    cursor:pointer;
  }


/* sitemenu */

.logMenu >a, .siteMenu >a{
  
  text-align: right;
}

.siteMenu{
  display:inline;
}

.siteMenu > a{
  display:inline-block;
}

.about{
  display:none;
}

.siteMenu:hover .about{
  background-color: white;
  display:inline-block;
  border: solid black 1px;
  width:150px;
}

.siteMenu .about a{
  display:inline-block;
  width:150px;
}

.siteMenu .about a:hover{
  background-color: gray;

}



/* .siteMenu .about li{
  display:block;
}

.siteMenu .about li a{
  display:block;
} */

/* hiphopleLogo */

.titleLogo{
  text-align: center;
  display:inline-block;
  margin-left:300px;
}

/* bigmenu */

.bigMenu{
  display:inline-block;
}

.bigMenu > li a:hover{
  color:red;
}

.bigMenu li ul {
  display:none;
}

.bigMenu li:hover ul{
  display:block;
  background-color: white;
}

/* .bigMenu li ul li{
  display:block;
}

.bigMenu li ul li a{
  display:block;
} */


.bigMenu li ul li a:hover{
  color:red;
 }


/* .bigMenu{
    display:inline-block;   
}

.bigMenu > li{
  display:inline;
  position:relative;
  background:0;
  cursor:pointer;
}

.bigMenu > li a:hover{
  color:red;
}

.bigMenu ul{
  display:block;
  display:inline;
}

.bigMenu li ul{
  position:absolute;
  display:none;
  background-color: white;
}

.bigMenu li:hover ul{
  display:block;
}


.bigMenu li ul li{
  display:block;
}

.bigMenu li ul li a{
  display:block;
}

.bigMenu li ul li a:hover{
  color:red;
} */




.Img{
    display:none;
    margin:auto;
}

.right{
    position:absolute;
    font-size:150px;
}

.left{
    position:absolute;
    font-size:150px;
    left:50px;
}




























/*
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container 
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons 
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right 
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through 
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators 
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation 
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size 
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.contents{
    display: flex;
}*/
