*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family:Roboto;
    
}
  
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:black;
    cursor:pointer;
  }

.active{
  display:inline-block;
}

/* logIn */

.logIn{
  border:0;
  outline:0;
  background-color: white;
  cursor:pointer;
}

fieldset{
  padding:15px;
  display:none;
  position: absolute;
  right:100px;
  top:100px;
  background-color: white;
  z-index:999;
}

fieldset h2{
  display: inline-block;
  width:250px;
  text-align: left;
}

.logInDetails button{
  border:0;
  outline:0;
  background-color: transparent;
  cursor:pointer;
  
}

.inputId, .inputPw{
  display:block;
  height:30px;
  margin-top:10px;
  width:250px;
}

.logInDetails{
  width: 300px;
  height: 250px;
}


.buttonArea{
  text-align: left;
  margin-top: 20px;
}

.buttonArea input{
  margin-left: 30px;
}

.buttonArea button{
  width:80px;
  height:30px;
  margin-left:30px;
}

.help{
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}


/*sitemenu */

.siteMenu{
  text-align: right;
  margin-right:200px;
}

.drop{
  position:relative;
  display:inline-block;
}

.about{
  display:none;
  position: absolute;
  background-color: white;
  border: solid black 1px;
  width:150px;
  right:5px;

}

.drop:hover .about{
  display:block;
}

.siteMenu .about a{
  display:inline-block;
  width:150px;
  text-align: center;
  margin-right:100px;
  
}

.siteMenu .about a:hover{
  background-color: gray;
}


/* hiphopleLogo */

.titleLogo{
  text-align: center;
  display:block;
}

/* bigmenu */

nav{
  text-align: center;
}

.bigMenu{
  display:inline-block;
}

.bigMenu > li{
  position: relative;
  width:80px;
  height: 40px;
}

.bigMenu > li a:hover{
  color:red;
}

.bigMenu li ul {
  display:none;
  position: absolute;
}

.bigMenu li:hover ul{
  display:block;
  background-color: white;
  text-align: left;
  z-index: 2;
  width:130px;
  height: auto;
  font-size:15px;
  padding: 0px 0px 20px 10px;

}


.bigMenu li ul li a:hover{
  color:red;
 }


.bigMenu > li{
  font-size: 20px;
  display:inline-block;
  margin: 20px 70px 20px 0px;
}

.bigMenu li ul li a{
  display: block;
  background-color: white;
  margin-top:10px;
}

.Imgs{
  display:block;
  position:absolute;
  width:100%;
  z-index:1;
}

.Img{
    display:none;
    margin:auto;
  }

.right{
    position:absolute;
    font-size:150px;
}

.left{
    position:absolute;
    font-size:150px;
    left:50px;
}




























